<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>
    
    <table border="1">
        <thead>
            <tr>
              
                <th>Name</th>
                <th>Email</th>
                <th>Department Type</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
          
            <tr th:each="employee : ${employees}">
                
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.dptType}"></td>
                <td th:text="${employee.salary}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>